<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto Clima from Thiago Rocha</title>

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,500,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>

  <body>
    {% if 'usuario_id' in session %}
    <a href="/logout" class="logout-btn">Sair</a>
    {% endif %}

    <div class="main-box">
      <input
        class="placeholder-city"
        placeholder="Digite o nome da cidade"
        id="cityInput"
      />
      <button class="button-search" onclick="clickButton()">
        <img
          class="button-img"
          src="https://www.svgrepo.com/show/488200/find.svg"
          alt="Lupa de Busca"
        />
      </button>

      <div class="middle-box">
        <h2 class="city">Tempo em <span id="cityName">São Paulo</span></h2>
        <p class="temp"><span id="temperature">21</span>°C</p>

        <div class="last-box">
          <img
            class="climate-img"
            id="weatherIcon"
            src="https://openweathermap.org/img/wn/04n.png"
            alt="Ícone do clima"
          />
          <p class="climate-text" id="weatherDescription">Nublado</p>
        </div>
      </div>

      <p class="humidity">Umidade: <span id="humidityValue">76</span>%</p>
    </div>
  </body>
</html>
